.container {
    background-color: white;
}
body {
    background: url(../images/handmadepaper.png)

 }

 #bio-image{
     height: 200px;
     width: 200px;
     margin: 10px;
 } 
 
 h1 {
     
    background-color:  #4aaaa5;
    color: #ffffff;
    padding: 20px;
    
    margin-top: 0px;
    margin-bottom: 0px;

 
  
 }

 .navbutton {
     display: flex;
     justify-content: space-between;
     text-align: end;
     margin: 25px;
    
    
    

 }

 .button-1,.button-2,.button-3 {
     padding: 10px;
     

 
 
   
     
 }

 
 h2{
    color: #4aaaa5; 
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.card-title{

    margin-top: 90%;
    background-color: #4aaaa5;
    color: #ffffff;
    
    
}



